.bigDivCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.CardBodyDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 910.5px) {
  .CarPriceFont {
    font-size: 0.8rem !important;
  }

  .CarModelFont,
  .CarYearFont,
  .CarAuto,
  .CarColorFont {
    font-size: 0.8rem !important;
  }
}
